*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

:root {
  --black: #04000e;
  --white: #ffffff;
  --dark-gray: #1a1a1a;
  --orange: #f29913;
  --icon-dark: #8d8d8d; }

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%; }
  @media only screen and (max-width: 1200px) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 1800px) {
    html {
      font-size: 75%; } }

body {
  overflow-x: hidden; }

img {
  display: block;
  width: 100%; }

::selection {
  background-color: var(--white);
  color: var(--black); }

body {
  font-family: Inter, sans-serif;
  font-size: 1.78rem;
  font-weight: 1; }

::-webkit-input-placeholder {
  font-size: 1.8rem;
  font-family: inherit;
  color: var(--white); }

.heading-primary {
  font-style: normal;
  font-weight: 1;
  font-size: 3.6rem;
  line-height: 4.3rem;
  color: var(--white);
  margin-bottom: 3.4rem; }
  .heading-primary--sub {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0em;
    text-align: left; }
  .heading-primary--movie {
    margin-bottom: 1.6rem; }

.paragraph {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 100;
  line-height: 2.2rem;
  letter-spacing: 0em;
  color: var(--white);
  margin-bottom: 2.4rem; }

.heading-secondary {
  color: var(--white);
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.9rem;
  letter-spacing: 0em;
  margin-right: 2.6rem; }
  .heading-secondary span {
    display: block; }
  .heading-secondary--sub {
    text-align: right; }
  .heading-secondary--active {
    color: var(--orange);
    display: inline-block !important;
    font-size: 1.4rem;
    line-height: 1.7rem;
    margin-left: 2px; }

.u-flex {
  display: flex; }

.u-center {
  align-items: center;
  justify-content: center; }

.u-mt-md {
  margin-top: 4.6rem; }

.u-mb-sm {
  margin-bottom: 2.2rem; }

.u-mb-sm {
  margin-bottom: 1.9rem; }

.u-mr-sm {
  margin-right: 3.43rem; }

.u-mb-md {
  margin-bottom: 3.1rem; }

.btn, .btn:link, .btn:visited {
  padding: 1rem 2rem;
  color: var(--white);
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 5px; }

.btn--orange {
  background-color: var(--orange); }

.btn--watch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-gray);
  width: 50%;
  font-size: 1.4rem;
  line-height: 2.2rem; }

.btn__icon {
  display: flex;
  align-items: center;
  justify-content: center; }

.button {
  font-family: "Open Sans", sans-serif;
  border: 1px solid var(--orange);
  outline: none;
  width: 100%;
  padding: 1rem 0;
  border-radius: 5px;
  background-color: var(--orange);
  color: var(--white);
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.5rem;
  letter-spacing: .02em; }

.checkbox {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0.02em;
  color: #8D8D8D;
  cursor: pointer;
  margin-top: auto;
  display: flex;
  align-items: center;
  transition: all .5s ease; }
  .checkbox-box {
    display: flex;
    align-items: center; }

.check {
  cursor: pointer; }

.checkmark {
  display: block;
  width: 2rem;
  height: 2rem;
  border: 2px solid #8D8D8D;
  margin-right: 1rem;
  border-radius: 5px;
  position: relative;
  transition: all .5s ease; }
  .checkmark::after {
    content: "";
    position: absolute;
    width: .9rem;
    height: 1.1rem;
    border-right: 2px solid #8D8D8D;
    border-bottom: 2px solid #8D8D8D;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(40deg) scale(10);
    opacity: 0;
    transition: all .5s ease; }

#check:checked ~ .checkbox > .checkmark::after {
  opacity: 1;
  transform: translate(-50%, -50%) rotateZ(40deg) scale(1); }

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 5rem; }
  .form__list {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 5.2rem;
    flex-wrap: wrap; }
  .form__item {
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid #C4C4C4; }
    .form__item.active {
      border-bottom: 4px solid var(--orange); }
  .form__input {
    width: 39.3rem;
    height: 4.4rem;
    background: transparent;
    border: 1.5px solid #8D8D8D;
    outline: none;
    border-radius: 5px;
    padding: 1rem 2rem;
    transition: all .5s ease;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--white); }
    .form__input:focus {
      border: 1.5px solid var(--orange); }
  .form__icon {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-5%, -50%); }
  .form__link.active {
    color: var(--orange); }
  .form__link.inactive {
    color: var(--white); }
  .form__link, .form__link:link, .form__link:visited {
    text-decoration: none;
    padding-bottom: 1.6rem; }
  .form__group {
    position: relative; }
  .form__input:focus + .form__icon {
    fill: var(--orange); }
  .form__cta {
    width: 39.3rem;
    display: flex;
    padding-bottom: 7rem;
    justify-content: space-between; }
    .form__cta__link, .form__cta__link:link, .form__cta__link:visited {
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.5rem;
      letter-spacing: 0.02em;
      color: #8D8D8D;
      text-decoration: none; }
  .form__btn-box {
    width: 39.3rem;
    padding-bottom: 6.5rem; }
  .form__icon-box {
    width: 39.3rem;
    display: flex;
    justify-content: center;
    align-items: center; }

.gallery__image-box {
  margin-bottom: 1.6rem; }

.gallery__header {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.2rem;
  letter-spacing: 0em;
  color: var(--white); }

.gallery__date {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 1;
  line-height: 2.2rem;
  letter-spacing: 0em;
  text-align: left;
  color: var(--white); }

.gallery__movie {
  margin-bottom: 6.5rem;
  cursor: pointer; }

.gallery__link {
  flex: 0 0 25%; }
  .gallery__link, .gallery__link:link, .gallery__link:visited {
    text-decoration: none; }

.movie__show {
  background-image: url(/images/bg_extraction.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 115%;
  padding-top: 2.3rem;
  padding-left: 5.6rem;
  padding-bottom: 4.7rem; }

.movie__details {
  display: flex;
  align-items: center; }

.movie__date {
  margin-bottom: 0;
  color: var(--white);
  font-size: 1.4rem;
  line-height: 1.7rem;
  margin-right: .7rem; }

.movie__time {
  display: flex; }
  .movie__time-number {
    color: var(--white);
    font-size: 1.4rem;
    line-height: 1.7rem;
    align-self: center; }

.movie__icon {
  margin-right: .7rem; }

.movie__paragraph {
  margin-top: 3.4rem;
  color: var(--white);
  font-weight: 200;
  font-size: 1.4rem;
  line-height: 2.2rem;
  margin-bottom: 2.9rem;
  width: 90%; }

.movie__gallery {
  padding-top: 2.1rem;
  padding-left: 7.4rem;
  width: 115%; }

.navigation {
  display: flex;
  align-items: center; }
  .navigation__list {
    display: flex;
    align-items: center;
    align-self: center;
    list-style-type: none;
    margin-bottom: 0; }
  .navigation__link, .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
    height: 100%;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2.2rem;
    letter-spacing: 0em;
    text-align: left; }

.nav__tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }

.nav-pills {
  display: flex;
  justify-content: space-evenly;
  width: 96rem;
  border-bottom: 2px solid #C4C4C4;
  margin-bottom: 5.2rem !important;
  margin-top: -5rem; }
  .nav-pills .nav-item a.active {
    background: none !important;
    color: var(--orange);
    border-bottom: 3px solid var(--orange);
    border-radius: 0; }
  .nav-pills .nav-item a {
    padding: 0 15rem;
    color: var(--white);
    font-family: Inter;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.9rem;
    letter-spacing: 0em;
    padding-bottom: 0rem;
    display: inline-block;
    text-align: center;
    width: 100%; }
    .nav-pills .nav-item a.navvy {
      padding-right: 24rem; }
  .nav-pills .nav-item .nav-link {
    display: inline;
    margin-bottom: 1.6rem; }
  .nav-pills .nav-item {
    width: 50%; }

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--black);
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .5s ease; }
  .preloader__item {
    border: 6px solid var(--white);
    border-top: 6px solid var(--orange);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    animation: spin 1s ease infinite;
    display: flex;
    align-items: center;
    justify-content: center; }

.fade {
  opacity: 0;
  pointer-events: none; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.rating {
  display: flex;
  margin-bottom: 2.4rem; }
  .rating__stars {
    cursor: pointer;
    margin-right: 4px; }

.review {
  display: flex;
  margin-bottom: 0;
  font-size: 1.4rem;
  line-height: 1.7rem;
  margin-right: .9rem;
  margin-left: .9rem;
  color: var(--white); }
  .review__number {
    margin-right: .9rem; }

.search {
  margin-right: auto;
  margin-left: 7.4rem;
  display: flex;
  align-items: center; }
  .search__input {
    padding: .8rem 1.9rem;
    height: 3.7rem;
    font-size: 1.8rem;
    font-weight: 100;
    font-family: inherit;
    background: transparent;
    border: 0.99px solid var(--white);
    outline: none;
    border-radius: 5px;
    width: 37rem;
    color: var(--white);
    transition: all .3s ease; }
    .search__input:focus {
      border: 0.99px solid var(--orange);
      width: 38.85rem; }
  .search__icon {
    width: 1.6rem;
    height: 1.6rem;
    margin-left: -3.5rem; }

.user {
  align-self: center; }
  .user__info {
    display: flex;
    align-items: center; }
  .user__name {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.2rem;
    letter-spacing: 0em;
    color: var(--white);
    margin-right: 1.6rem;
    align-self: center;
    margin-bottom: 0; }
  .user__image {
    display: block;
    width: 100%;
    border-radius: 50%; }

.container-fluid {
  overflow-x: hidden; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header {
    padding-top: 4.8rem;
    padding-right: 6rem;
    padding-left: 4.4rem; }

.section-movie-show {
  height: 100%;
  flex: 0 0 80%;
  max-width: 80%; }

.wrapper {
  background-image: url(/images/Legacy-of-Lies-movie+++1.png);
  background-color: var(--black);
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100vw; }

.section-intro {
  padding-top: 19.4rem;
  padding-left: 4.4rem;
  padding-bottom: 15.4rem; }

.section-movie-gallery {
  background-color: var(--black);
  padding-left: 15.9rem;
  flex-wrap: nowrap;
  align-items: center;
  padding-bottom: 6rem; }

.main {
  background-image: url(/images/signup-intro.png);
  background-color: var(--black);
  height: 100vh; }

.section-form {
  padding-top: 10rem;
  padding-left: 3rem; }

.movie-page {
  background-color: var(--black);
  height: 100%; }

.movie__navigation-box {
  flex: 0 0 10%;
  max-width: 15%; }

.movie__navigation-item {
  cursor: pointer;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem; }

.movie__navigation-link, .movie__navigation-link:link, .movie__navigation-link:visited {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 100;
  line-height: 2.2rem;
  letter-spacing: 0em;
  color: var(--white);
  text-decoration: none;
  transition: all 0.5s ease; }

.movie__navigation-link.active {
  color: var(--orange); }

.movie__navigation-icon {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
  margin-left: 3rem; }
  .movie__navigation-icon.active {
    opacity: 1;
    pointer-events: all;
    margin-left: 7.8rem; }

.movie__navigation-item:hover .movie__navigation-icon {
  opacity: 1;
  pointer-events: all; }

.movie__navigation-item:hover .movie__navigation-link {
  color: var(--orange); }

.section-movie {
  padding-top: 5.6rem;
  padding-left: 4.5rem;
  display: flex;
  flex-wrap: wrap; }

.trending {
  flex: 0 0 90%;
  max-width: 80%;
  padding-left: 5rem; }
  .trending__movies {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-right: 5rem; }
