.u-flex {
      display: flex;
}
.u-center {
      align-items: center;
      justify-content: center;
}
.u-mt-md {
      margin-top: 4.6rem;
}
.u-mb-sm {
      margin-bottom: 2.2rem;
}
.u-mb-sm {
      margin-bottom: 1.9rem;
}
.u-mr-sm {
      margin-right: 3.43rem;
}
.u-mb-md {
      margin-bottom: 3.1rem;
}